/* .makeStyles-root-926
  .flex
  .makeStyles-wrapper-928
  .makeStyles-root-119
  .makeStyles-header-929 {
} */
/* .styling {
  position: relative;
  bottom: 24px;
  right: 24px;
  width: 104%;
} */
